<div class="curtains" (click)="cancel()" [style.height.px]="windowY"> </div>
<div class="form">
  <form [formGroup]="reviewForm" (ngSubmit)="onSubmit(reviewForm.value)">
    <fieldset>
      <label class="float" [class.error]="hasError('hitTitle')" for="hitTitle">{{ labels.title }}</label>
      <input type="text" id="hitTitle" formControlName="hitTitle" />
    </fieldset>
    <fieldset>
      <label class="float" for="pay" [class.error]="hasError('pay')">{{ labels.pay }}</label>
      <span style="position:absolute;top:50%;left:1%">
        <label for="pay">US $</label>
      </span>
      <input type="number" min="0" step="0.01" id="pay" formControlName="pay" style="padding-left:2.73em" />
    </fieldset>
    <fieldset>
      <label class="float" [class.error]="hasError('rid')" for="rid">{{ labels.rid }}</label>
      <input type="text" id="rid" formControlName="rid" />
    </fieldset>
    <fieldset>
      <label class="float" [class.error]="hasError('rname')" for="rname">{{ labels.rname }}</label>
      <input type="text" id="rname" formControlName="rname" />
    </fieldset>
    <fieldset>
      <input #broken type="checkbox" id="broken" formControlName="broken" />
      <label for="broken">{{ labels.broken }}</label>
      <div class="dependent" *ngIf="broken.checked">
        <label class="block" [class.error]="hasError('broken_')" for="broken_">{{ labels.broken_ }}</label>
        <textarea id="broken_" formControlName="broken_"></textarea>
      </div>
    </fieldset>
    <fieldset>
      <input #deceptive type="checkbox" id="deceptive" formControlName="deceptive" />
      <label for="deceptive">{{ labels.deceptive }}</label>
      <div class="dependent" *ngIf="deceptive.checked">
        <label class="block" [class.error]="hasError('deceptive_')" for="deceptive_">{{ labels.deceptive_ }}</label>
        <textarea id="deceptive_" formControlName="deceptive_"></textarea>
      </div>
    </fieldset>
    <fieldset>
      <input #tos type="checkbox" id="tos" formControlName="tos" />
      <label for="tos">{{ labels.tos }}</label>
      <div class="dependent" *ngIf="tos.checked">
        <label class="block" [class.error]="hasError('tos_')" for="tos_">{{ labels.tos_ }}</label>
        <textarea id="tos_" formControlName="tos_"></textarea>
      </div>
    </fieldset>
    <fieldset>
      <label class="block" [class.error]="hasError('didIt')">{{ labels.didIt }}</label>
      <label class="sub">
        <input #yesDidIt type="radio" name="didIt" (change)="setRadioValue('didIt','yes')" />
        Yes
      </label>
      <label class="sub">
        <input type="radio" name="didIt" (change)="setRadioValue('didIt','no')" />
        No
      </label>
    </fieldset>
    <fieldset *ngIf="yesDidIt.checked" formGroupName="isBatch">
      <label class="block" [class.error]="hasError('isBatch')">{{ labels.isBatch }}</label>
      <label class="sub">
        <input type="radio" #yesBatch name="isBatch" (change)="toggleFormMode('batch');setRadioValue('isBatch','yes')" />
        Yes
      </label>
      <label class="sub">
        <input type="radio" name="isBatch" (change)="toggleFormMode('single');setRadioValue('isBatch','no')" />
        No, just one
      </label>
    </fieldset>
    <div *ngIf="reviewForm.find('isBatch')?.valid">
      <fieldset>
        <label class="block" [class.error]="hasError('time')">{{ labels.time }}</label>
        <input type="hidden" formControlName="time" [ngModel]="hitTime.value" />
        <label class="sub">
          <input type="number" min="0" (change)="hitTime.hours = $event.target.value" /> hours
        </label>
        <label class="sub">
          <input type="number" min="0" (change)="hitTime.minutes = $event.target.value" /> minutes
        </label>
        <label class="sub">
          <input type="number" min="0" (change)="hitTime.seconds = $event.target.value" /> seconds
        </label>
      </fieldset>
      <fieldset>
        <label class="block" [class.error]="hasError('pending')">{{ labels.pending }}</label>
        <label class="sub block">
          <input type="radio" name="pending" (change)="setRadioValue('pending','yes')" />
          {{ labels.allPending }}
        </label>
        <label [class.disabled]="formMode==='single'" class="sub block">
          <input #somePending type="radio" name="pending" [disabled]="formMode==='single'" (change)="setRadioValue('pending','some')" />
          Yes, but some have already been approved or rejected
        </label>
        <label class="sub block">
          <input type="radio" name="pending" (change)="setRadioValue('pending','no')" />
          {{ labels.noPending }}
        </label>
      </fieldset>
      <div *ngIf="reviewForm.find('pending')?.valid && reviewForm.find('pending').value!=='yes'">
        <fieldset>
          <label class="block">{{ labels.reviewTime }}</label>
          <label class="sub block">
            <input type="radio" name="reviewTime" (change)="setRadioValue('reviewTime','0')" />
            Less than a day
          </label>
          <label class="sub block">
            <input type="radio" name="reviewTime" (change)="setRadioValue('reviewTime','1-3')" />
            Within three days
          </label>
          <label class="sub block">
            <input type="radio" name="reviewTime" (change)="setRadioValue('reviewTime','4-7')" />
            Within a week
          </label>
          <label class="sub block">
            <input type="radio" name="reviewTime" (change)="setRadioValue('reviewTime','8-14')" />
            Within two weeks
          </label>
          <label class="sub block">
            <input type="radio" name="reviewTime" (change)="setRadioValue('reviewTime','15-30')" />
            Longer than two weeks
          </label>
        </fieldset>
        <fieldset>
          <label class="block" [class.error]="hasError('rejected')">{{ labels.rejected }}</label>
          <label class="sub block">
            <input type="radio" name="rejected" (change)="setRadioValue('rejected','yes')" />
            {{ labels.allRejected }}
          </label>
          <label [class.disabled]="formMode==='single'" class="sub block">
            <input #someRejected type="radio" name="rejected" [disabled]="formMode==='single'" (change)="setRadioValue('rejected','some')" />
            Yes, some of it
          </label>
          <label class="sub block">
            <input type="radio" name="rejected" (change)="setRadioValue('rejected','overturned')" />
            {{ labels.overturned }}
          </label>
          <label class="sub block">
            <input type="radio" name="rejected" (change)="setRadioValue('rejected','no')" />
            No
          </label>
        </fieldset>
      </div>
      <fieldset>
        <label class="block">{{ labels.comm }}</label>
        <label class="sub block">
          <input type="radio" name="comm" (change)="setRadioValue('comm','satisfactory')" />
          Yes, and I received a response and/or satisfactory resolution to my issues
        </label>
        <label class="sub block">
          <input type="radio" name="comm" (change)="setRadioValue('comm','unsatisfactory')" />
          Yes, but I didn't receive a response and/or my issues were not resolved
        </label>
        <label class="sub">
          <input type="radio" name="comm" (change)="setRadioValue('comm','no')" />
          No, I didn't attempt to contact the requester
        </label>
      </fieldset>
    </div>
    <fieldset>
      <label class="block" for="comments">{{ labels.comments }}</label>
      <textarea id="comments" formControlName="comments"></textarea>
    </fieldset>
    <button type="submit">Submit</button>
  </form>
  <pre>
    {{ reviewForm.status }}
{{ reviewForm.value | json }}
  </pre>
</div>
