.content {
  position: relative;
  text-align: center;
  width: 85%;
  margin: 4em auto;
}
.heading {
  font-family: Michroma, sans-serif;
  font-size: 5em;
  text-transform: capitalize;
}
.flexbox {
  display: flex;
  width: 90%;
  margin: 0.5em auto;
}
.flexbox > div {
  flex: 1;
}
