<div class="overview grid">
  <div class="heading left">
    <div class="divider box">
      <h2>{{overviewData?.name}}</h2>
      <p>
        {{overviewData?.rid}}
        <span style="display:block" *ngIf="overviewData && overviewData.aliases.length">Aliases: {{overviewData?.aliases.join(', ')}}</span>
      </p>
      <p><a href={{searchLink}}>Search on Mturk</a></p>
      <p><a href="#" (click)="toggleForm($event)">Add a new review</a></p>
    </div>
  </div>
  <div class="stats right">
    <div class="recent grid" style="flex-direction:column;width:100%;text-align:center">
      Last 90 days
      <div class="grid">
        <div class="databox">
          <span>$</span><span class="value">{{ overviewData?.globalAttrs?.pay }}</span><span>/hr</span>
          <span style="display:block">PAY</span>
          <div class="tooltip" style="width:250px">
            <p>
              <span class="block">$<span class="accent big">0.04</span>/min</span>
            </p>
            <span class="block">[ graph: pay vs average completion time ] (?)</span>
            <ul>
              <li><span class="accent">62</span>Total Reports</li>
              <li>Value: <span class="accent">$0.50</span>
                <ul>
                  <li><span class="accent">12.33</span> Average Completion Time (minutes)</li>
                  <li><span class="accent">0.42</span> Standard Deviation</li>
                </ul>
              </li>
              <li>Value: <span class="accent">$1.25</span>
                <ul>
                  <li><span class="accent">38.17</span> Average Completion Time (minutes)</li>
                  <li><span class="accent">5.67</span> Standard Deviation</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="databox">
          <span class="value">{{ overviewData?.globalAttrs?.fair }}</span>
          <span style="display:block">FAIR</span>
          <div class="tooltip">
            <p>
              <span class="accent big block">92.30%</span>
              Approval Rate
            </p>
            <ul>
              <li><span class="accent">4</span> Rejected (net)</li>
              <li><span class="accent">30</span> Overturned</li>
              <li><span class="accent">52</span> Total Reports</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="databox">
          <span class="value">{{ overviewData?.globalAttrs?.fast }}</span>
          <span style="display:block">FAST</span>
          <div class="tooltip">
            <p>
              <span class="block">~<span class="accent big">3 days</span></span>
              Approval Window
            </p>
            <ul>
              <li><span class="accent">30</span> < 3 days (<span class="accent">93.75%</span>)</li>
              <li><span class="accent">2</span> < 1 week (<span class="accent">6.25%</span>)</li>
              <li><span class="accent">32</span> Total reports</li>
            </ul>
          </div>
        </div>
        <div class="databox">
          <span class="value">{{ overviewData?.globalAttrs?.comm }}</span>
          <span style="display:block">COMM</span>
          <div class="tooltip">
            <p>
              <span class="accent big block">0%</span>
              Response Satisfaction
            </p>
            <ul>
              <li><span class="accent">0</span> Positive</li>
              <li><span class="accent">4</span> Negative</li>
              <li><span class="accent">4</span> Total Reports</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="total grid" style="flex-direction:column;width:100%;text-align:center">
      Lifetime total
      <div class="grid">
        <div class="databox">
          <span>$</span><span class="value">{{ overviewData?.globalAttrs?.pay }}</span><span>/hr</span>
          <span style="display:block">PAY</span>
          <div class="tooltip" style="width:250px">
            <p>
              <span class="block">$<span class="accent big">0.04</span>/min</span>
            </p>
            <span class="block">[ graph: pay vs average completion time ] (?)</span>
            <ul>
              <li><span class="accent">62</span>Total Reports</li>
              <li>Value: <span class="accent">$0.50</span>
                <ul>
                  <li><span class="accent">12.33</span> Average Completion Time (minutes)</li>
                  <li><span class="accent">0.42</span> Standard Deviation</li>
                </ul>
              </li>
              <li>Value: <span class="accent">$1.25</span>
                <ul>
                  <li><span class="accent">38.17</span> Average Completion Time (minutes)</li>
                  <li><span class="accent">5.67</span> Standard Deviation</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="databox">
          <span class="value">{{ overviewData?.globalAttrs?.fair }}</span>
          <span style="display:block">FAIR</span>
          <div class="tooltip">
            <p>
              <span class="accent big block">92.68%</span>
              Approval Rate
            </p>
            <ul>
              <li><span class="accent">6</span> Rejected (net)</li>
              <li><span class="accent">30</span> Overturned</li>
              <li><span class="accent">82</span> Total Reports</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="databox">
          <span class="value">{{ overviewData?.globalAttrs?.fast }}</span>
          <span style="display:block">FAST</span>
          <div class="tooltip">
            <p>
              <span class="block">~<span class="accent big">3 days</span></span>
              Approval Window
            </p>
            <ul>
              <li><span class="accent">30</span> < 3 days (<span class="accent">93.75%</span>)</li>
              <li><span class="accent">2</span> < 1 week (<span class="accent">6.25%</span>)</li>
              <li><span class="accent">32</span> Total reports</li>
            </ul>
          </div>
        </div>
        <div Class="databox">
          <span class="value">{{ overviewData?.globalAttrs?.comm }}</span>
          <span style="display:block">COMM</span>
          <div class="tooltip">
            <p>
              <span class="accent big block">0%</span>
              Response Satisfaction
            </p>
            <ul>
              <li><span class="accent">0</span> Positive</li>
              <li><span class="accent">4</span> Negative</li>
              <li><span class="accent">4</span> Total Reports</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<review-form *ngIf="showForm" (onCancel)="toggleForm()"></review-form>
