<div class="content">
  <div class="heading">turkopticon</div>
  <div class="flexbox">
    <div>
      Turkopticon helps the people in the 'crowd' of crowdsourcing
      watch out for each other—because nobody else seems to be.
    </div>
    <div>
      "Low cost, high quality" is a myth; you must pay for quality.
      Turkopticon lets you REPORT and AVOID shady requesters.
    </div>
    <div>
      Turkopticon provides a requester reputation system powered by
      worker reviews.
    </div>
  </div>
</div>
